<div class="container mt-3">
  <h5 class="text-secondary">Restaurantes</h5>
  <div class="row">
    <% @restaurants.each do |restaurant| %>
      <%= render "restaurant", restaurant: restaurant %>
    <% end %>
  </div>
</div>
<%= @query %>